<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Bridge.Core" version="17.9.0" targetFramework="net452" />
  <package id="Bridge.Html5" version="17.9.0" targetFramework="net452" />
  <package id="Bridge.Min" version="17.9.0" targetFramework="net452" />
  <package id="Bridge.QUnit" version="1.22.0" targetFramework="net452" />
  <package id="Bridge.ReactLoader" version="16.4.2" targetFramework="net452" />
  <package id="ProductiveRage.SealedClassVerification.Bridge" version="1.7.0" targetFramework="net452" />
</packages>